

body{
  margin: 15px;
  background-image: url(../images/fond3.jpg);
  box-shadow: 0 0 0 1000px rgba(172, 253, 137, 0.7) inset;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Comfortaa', cursive;
}
ul{
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
  color: #605960;
  padding-left: 20px;
  padding-right: 20px;
}
.ctaButton{
  color: #caa6a6;
  box-shadow: 8px 8px 12px #060606;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  padding: 20px;
  background-color: rgba(124, 157, 100, 0.84);
  max-width: 240px;
}
p{
  font-size: 1em;
  color:#3c0817;
}
table{
  font-size: 1em;
  color:#3c0817;
  margin: 40px 90px;
  text-align: center;
  line-height: 1.5;
}
th, td{
  border: 2px solid #060606;
}
form{
  font-size: 1em;
  color:#3c0817;
  text-align: center;
  font-weight: bold;
}
input[type=submit]{
  color: #3c0817;
  box-shadow: 8px 8px 12px #060606;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  padding: 20px;
  background-color: rgba(124, 157, 100, 0.84);
  max-width: 270px;
}
nav li{
  font-size: 1.1em;
  color: #302530;
}
div ul li{
  list-style:none;
  padding: 15px;
  margin: 15px;
  border-left: 2px solid #3c0817;
  text-align: center;
}
h1{
  font-size: 1.7em;
  color:#3c0817;
  text-align: center;
}
h2{
  color: #3c0817;
  font-size: 1.5;
  text-align: center;
}
.header{
  background-color: rgba(102, 41, 41, 0.86);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 220px;
}

input, textarea {
  background-color: #8a4343;
  font-family: 'Comfortaa', cursive;
}
.deroul{
  background-color: #8a4343;
  font-family: 'Comfortaa', cursive;
  height: 30px;
}
input{
  height: 30px;
}

.photos_chambre{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.introduction{
  display: flex;
}
.presentation{
  margin: 60px;
  font-weight: bold;
}
#photos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.p_chambre{
  margin: 30px;
}
.img200{
  max-height: 200px;
  margin: 15px;
  border: 2px solid rgba(102, 41, 41, 0.86);
  box-shadow: 8px 8px 12px #060606;
}
.olga{
  margin: 30px 50px;
  border: 2px solid
  rgba(102, 41, 41, 0.86);
  box-shadow: 8px 8px 12px #060606;
}
strong{
  font-size: 1.8em;
  font-weight: bold;
}
hr{
  font-size: 2px;
  color: rgba(102, 41, 41, 0.86);
  box-shadow: 8px 8px 12px #060606;
}
footer{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: rgba(102, 41, 41, 0.86);
  padding: 15px;
}
.contact{
  color: #d54771;
}

.copyright{
  display: flex;
}
float{
  float:left;
}
a{
  text-decoration: none;
  color: #3c0817;
}
.services{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#reception{
  background-image: url(../images/accueil_fond2_crop.jpg);
  height: 120px;
  width: 500px;
  background-repeat: no-repeat;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  margin: 20px;
}
#reception p, #reception h2{
  color: #fff;
  text-align:justify;
}
#pet_dej{
  background-image: url(../images/accueil_petit_dej_crop.jpg);
  height: 120px;
  width: 500px;
  background-repeat: no-repeat;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  margin: 20px;
}
#pet_dej p,#pet_dej h2{
  color: #fff;
  text-align:justify;
}
#pool{
  background-image: url(../images/piscine_crop.jpg);
  height: 120px;
  width: 500px;
  background-repeat: no-repeat;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  margin: 20px;
}
#pool p,#pool h2{
  color: #fff;
  text-align:justify;
}
#roof{
  background-image: url(../images/rooftop2_crop.jpg);
  height: 120px;
  width: 500px;
  background-repeat: no-repeat;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  margin: 20px;
}
#roof p,#roof h2{
  color: #fff;
  text-align:justify;
}
#parking{
  background-image: url(../images/parking_crop2.jpg);
  height: 120px;
  width: 500px;
  background-repeat: no-repeat;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  overflow:hidden;
  margin: 20px;
}
#parking h2,#parking p{
  color: #fff;
  text-align:justify;
}
#tel{
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.tel{
  height: 120px;
  width: auto;
  vertical-align:text-bottom;
}
#titretel{
  color: #fff;
  text-align: center;
}
.box{
  max-width: 500px;
  margin: 0px 20px;
  text-align: justify;
  color: #fff;
}
